<!--@subject {{trans "%title - %n.%j.%Y" title=$automated_export.title Y=$Y n=$n j=$j}} @-->

<!--@vars {
"var automated_export.title":"Automated Export Title Here",
"var custom_report.report_name":"Custom Report 1 Title Here",
"var custom_reports.0.report_name":"Custom Report 1 Title Here",
"var custom_reports.1.report_name":"Custom Report 2 Title Here",
"var Y":"2023 (the year)",
"var d":"02 (the day)",
"var j":"2 (the day)",
"var m":"01 (the month)",
"var n":"1 (the month)",
"var H":"23 (the hour)",
"var i":"59 (the minute)",
"var s":"59 (the second)",
"var c":"2023-02-07T14:00:43-06:00"
} @-->

<p>Please see attachments for the report(s).</p>

<p>Custom Report 1: {{var custom_reports.0.report_name}}</p>
<p>Custom Report 2: {{var custom_reports.1.report_name}}</p>
<p>Automated Export: {{var automated_export.title}}</p>
<p>Date generated: {{var c}}</p>
