<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="DEG\CustomReports\Api\CustomReportRepositoryInterface" type="DEG\CustomReports\Model\CustomReportRepository"/>
    <preference for="DEG\CustomReports\Api\Data\CustomReportInterface" type="DEG\CustomReports\Model\CustomReport"/>
</config>
