<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="DEG_CustomReports::customreport" title="Custom Reports" translate="title" module="DEG_CustomReports" sortOrder="5" parent="Magento_Reports::report" resource="DEG_CustomReports::customreport"/>
        <add id="DEG_CustomReports::customreport_list" resource="DEG_CustomReports::customreport" title="Custom Reports" action="deg_customreports/customreport/listing" module="DEG_CustomReports" sortOrder="10" parent="DEG_CustomReports::customreport"
             dependsOnModule="DEG_CustomReports"/>
        <add id="DEG_CustomReports::automatedexport_list" resource="DEG_CustomReports::automatedexport" title="Automated Exports" action="deg_customreports/automatedexport/listing" module="DEG_CustomReports" sortOrder="10"
             parent="DEG_CustomReports::customreport" dependsOnModule="DEG_CustomReports"/>
    </menu>
</config>



